<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>학생 페이지 타이틀</title>
</head>
<body>
	<div id="app">
		<button @click="getCurrentTime">현재 시각</button>
		/
		<button @click="postStudent">학생 추가</button>
		/
		<button @click="putStudent">학생 수정</button>
		/
		<button @click="deleteStudent">학생 삭제</button>
		<br /> <br />
		<ul>
			<li v-for="(student, index) in studentList" :key="index">{{student.num}} / {{student.name}}</li>
		</ul>
	</div>

	<script type="text/javascript" src="./js/vue.global.js"></script>
	<script type="text/javascript" src="./js/common.js"></script>
	<script type="text/javascript">
		const studentConst = {
			data() {
				return {
					studentList: []
				}
			},
			methods : {
				getCurrentTime() {
					fetchText(`${contextPath}/student/time`, 'get')
					.then(data => data ? alert(`현재 시각 - ${data}`) : alert('통신 실패'));
				},
				getStudentList() {
					fetchJson(`${contextPath}/student/list`, 'get')
					.then(data => data ? this.studentList = data : alert('통신 실패'));
				},
				postStudent() {
					fetchJson(`${contextPath}/student`, 'post',
						{'Content-Type': 'application/json'},
					).then(() => this.getStudentList());
				},
				putStudent() {
					let num = prompt('수정할 학생 번호를 입력해주세요.');
					
					if(resetUndefined(num) !== '') {
						fetchJson(`${contextPath}/student`, 'put',
							{'Content-Type': 'application/json'},
							{num: num}
						).then(data => data.result ? this.getStudentList() : alert(data.msg));
					}
				},
				deleteStudent() {
					let num = prompt('삭제할 학생 번호를 입력해주세요.');
					
					if(resetUndefined(num) !== '') {
						fetchJson(`${contextPath}/student`, 'delete',
							{'Content-Type': 'application/json'},
							{num: num}
						).then(data => data.result ? this.getStudentList() : alert(data.msg));
					}
				}
			},
			created() {
				console.log('student created.');
			},
			mounted() {
				console.log('student mounted.');
				this.getStudentList();
			},
		};
		
		let studentApp = Vue.createApp(studentConst).mount('#app');
	</script>
</body>
</html>